.foot {
  background-color: rgba(255, 255, 255, 0.455); /* White */
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--medium-gray);
  padding: 25px 0;
  margin-top: 0px;
}

.foot p {
  margin: 0;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
}

.foot::before {
  content: "";
  display: block;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--primary), transparent);
  margin-bottom: 20px;
}
.contact a {
  padding-left: 15px;
  padding-right: 15px;
}
.conTitle {
  padding-bottom: 10px;
}
.foot-list {
  font-size: 20px;
}
