.team-card {
  transition: transform 0.2s;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.my-teams {
  margin-bottom: 20px;
}
.card-div {
  margin: 0 5px;
}
.h-101 {
  width: fit-content;
}
.btn.btn-primary.view-team {
  position: relative;
  top: 10px;
}
